@charset "utf-8";
/*@margin & padding */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td,i,b { margin: 0; padding: 0; }
fieldset, img { border: 0; }
/*@remove focus outline style, doesn't work at IE-win */
:focus { outline: 0; }
address, caption, cite, code, dfn, em, th, var, optgroup { font-style: normal; font-weight: normal; }
h1, h2, h3, h4, h5, h6,.heiti,.msyh,.title { font-size: 100%; font-weight: bold; }
abbr, acronym { border: 0; font-variant: normal; }
/*@make form componets inherit form theirs patent */
input, button, textarea, select, optgroup, option { font:inherit;  }
code, kbd, samp, tt { font-size: 100%; }
code,cite { display:none; }
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select { *font-size:100%; color:inherit;}
ol, ul { list-style: none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
/* remember to highlight anchors and inserts somehow! */
:link, :visited, ins { text-decoration: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
b { font-weight:normal; }

.clear { display: block; clear: both; overflow: hidden; height: 0; font: 0/0 arial; *zoom:1; }
.clearfix:after,.c:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;  *zoom:1; }
.clearfix,.c { display:block; *zoom:1; }
.cb {clear:both;}

.l { float: left; _display:inline; }
.r { float: right; clear: right; _display:inline; }

a { outline: none; cursor: pointer; text-decoration: none; color:#2A78B4; }
:link, :visited { text-decoration: none;}
a:hover{ text-decoration:underline; color:#f60; }

.compare{}
.plot_fram h2{background-color:#6ec197;height:28px; border:#28b36d solid 1px;line-height:28px;color:#fff;margin-bottom:10px;padding-left:15px;}
.plot_fram h2 span{margin-right:30px;}
.form1{padding-bottom:10px;}
.plot_l{ }
.plot_l ul li{width:104px;font-size:12px;float:left;margin-left:10px; display:inline;height:120px;}
.plot_l ul li img,.plot_r ul li img{padding-bottom:6px;}
.btn{margin-right:14px;*margin-right:10px;margin-left:3px;width:36px;}
.plot_l ul li span{line-height:22px;}
.plot_r{}
.plot_r ul li{width:152px;font-size:12px;margin-left:10px;float:left;display:inline;height:160px}
.btn_1{width:36px;}
.btn_2{margin-top:20px;display:inine; font-size:14px;width:80px;}
.plot_r p{width:800px; text-align:center;margin-top:20px;}
.btn_3{width:100px;}
.plot_del{margin:0 40px;display:inline;}
.plot_fram{margin-left:3px;}
.l_scrll{min-height:150px;height:auto!important;height:150px; overflow-y: scroll;}
.r_scrll{min-height:150px;height:auto!important;height:150px; overflow-y: scroll;}
.backSel{border: 2px solid red;}