<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuanche.mapper.che.read.adveInfoReadMapper">
     <select id="getBrand"  resultType="com.tuanche.bean.che.Brand">
         SELECT id,name,new_series as newSeriesId  FROM tc_brand
         where status = 1
         order by pinyin asc
     </select>
	  <select id="getStyle"  resultType="com.tuanche.smc.domain.base.Style">
         SELECT style name,pid brandId,id ,ppid pid
         FROM  tc_carstyle   a
         WHERE a.type=0 
         AND a.show=0 
     </select>
</mapper>