<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.tuanche.mapper.che.read.BrandGroupbuyReadMapper">
	<sql id="fieldSql">
		select 
			id,
			city_id cityId,
			city_code cityCode,
			brand_id brandId,
			saler_id salerId,
			title,
			groupbuy_date groupbuyDate,
			groupbuy_place groupbuyPlace,
			groupbuy_state groupbuyState,
			groupbuy_light groupbuyLight,
			base_num baseNum,
			open_groupbuy_num openGroupbuyNum,
			isdel,prompt
		from t_brand_groupbuy
		where 1=1
	</sql>
	<sql id="whereSql">
		<if test="brandId>0">
			and brand_id=#{brandId}
		</if>
		<if test="cityId>0">
			and city_id=#{cityId}
		</if>
		<if test="stateName != null">
			and groupbuy_state=#{stateName}
		</if>
		and isdel > -1
	</sql>
	<sql id="otherSql">
		<if test="orderStr!=null">
			order by ${orderStr}
		</if>
		<if test="start>=0">
			limit #{start},#{pageSize}
		</if>
	</sql>
	<select id="check" resultType="int" >
		select count(id) from t_brand_groupbuy where city_id=#{cityId} and brand_id=#{brandId} and isdel > -1
	</select>
	<select id="select" resultType="com.tuanche.bean.che.BrandGroupbuy">
		<include refid="fieldSql"/>
		<include refid="whereSql"/>
		<include refid="otherSql"/>
	</select>
	<select id="find" resultType="com.tuanche.bean.che.BrandGroupbuy">
		<include refid="fieldSql"/>
		and id=#{id}
	</select>
	<select id="count" resultType="int">
		select count(id) from t_brand_groupbuy where 1=1
		<include refid="whereSql"/>
	</select>
	<select id="findByCityId" resultType="com.tuanche.bean.che.BrandGroupbuy">
		SELECT id,prompt,brand_id brandId,groupbuy_light groupbuyLight FROM `t_brand_groupbuy` WHERE city_id=#{cityId} AND groupbuy_state=#{stateName} AND isdel=0
	</select>
	</mapper>