<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.tuanche.mapper.sem.read.CreativeReadMapper">
	<select id="getCreativeList" resultType="com.tuanche.bean.sem.Creative">
		select campaignName,groupName,groupId,destinationUrl url from t_creative where accountId=#{accountId}
	</select>
	</mapper>