<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.tuanche.mapper.tongji.write.RecordStatWriteMapper">
		<insert id="addRecordStat" parameterType="recordStat" useGeneratedKeys="true" keyProperty="id" >
			insert into tongji_record_stat
			(date, index_number, site_record, query_engine) 
			values 
			(str_to_date(#{date}, '%Y-%m-%d'), #{indexNumber}, #{siteRecord}, #{queryEngine})
		</insert>
		
		<update id="updateRecordStat" parameterType="recordStat">
			update tongji_record_stat 
			set
			date = str_to_date(#{date}, '%Y-%m-%d'), 
			index_number = #{indexNumber}, 
			site_record = #{siteRecord}, 
			query_engine = #{queryEngine} 
			where 
			id = #{id}
		</update>
		
		<delete id="deleteRecordStat" parameterType="java.lang.Integer">
			delete from tongji_record_stat where id = #{id}
		</delete>
	</mapper>