<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuanche.mapper.che.write.SysConfigWriteMapper" >
  <insert id="saveConfig" parameterType="com.tuanche.bean.che.SysConfig" >
   INSERT INTO sys_config ( `key`, `desc`,`name`, `code`, `status` ,create_uid,create_time)
    VALUES 
    (#{key}, #{desc},#{name}, #{code}, #{status},#{createUid},(NOW()));
  </insert>
  <update id="updateConfig" parameterType="com.tuanche.bean.che.SysConfig" >
    UPDATE `sys_config` SET `key`=#{key},`desc`=#{desc},`name`=#{name},`code`=#{code},`status`=#{status} WHERE id=#{id}
  </update>
</mapper>