<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuanche.mapper.admin.write.DecorateTempWriteMapper">
	<resultMap type="com.tuanche.bean.admin.DecorateTemp" id="BaseResultMap">
		<id column="id" property="id" javaType="integer" jdbcType="INTEGER"></id>
		<result column="base_id" property="baseId" javaType="integer" jdbcType="INTEGER"/>
		<result column="baseTitle" property="baseTitle" javaType="string" jdbcType="VARCHAR"/>
		<result column="plate_id" property="plateId" javaType="integer" jdbcType="INTEGER"/>
		<result column="add_user_id" property="addUserId" javaType="integer" jdbcType="INTEGER"/>
		<result column="title" property="title" javaType="string" jdbcType="VARCHAR"/>
		<result column="title_content_style" property="titleContentStyle" javaType="string" jdbcType="VARCHAR"/>
		<result column="title_show_style" property="titleShowStyle" javaType="string" jdbcType="VARCHAR"/>
		<result column="isdel" property="isDel" javaType="string" jdbcType="VARCHAR"/>
		<result column="sort" property="sort" javaType="string" jdbcType="VARCHAR"/>
		<result column="add_user_name" property="addUserName" javaType="string" jdbcType="VARCHAR"/>
		<result column="add_time" property="addTime" javaType="string" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<insert id="addDecPlate">
		insert into t_decorate_temp(base_id,plate_id,title,title_content_style,
									title_show_style,sort,add_user_id,add_user_name,isdel)
		values
		<foreach collection="list" item="decorateTemp" separator=",">
			(#{decorateTemp.baseId},
			#{decorateTemp.plateId},
			#{decorateTemp.title},
			#{decorateTemp.titleContentStyle},
			#{decorateTemp.titleShowStyle},
			#{decorateTemp.sort},
			#{decorateTemp.addUserId},
			#{decorateTemp.addUserName},
			#{decorateTemp.isDel})
		</foreach>
	</insert>
	
	<update id="deletePlate" parameterType="int">
		UPDATE t_decorate_temp t LEFT JOIN t_decorate_content c ON t.id=c.`temp_id`
		SET t.isdel='-1',c.`isdel`='-1' 
		WHERE t.id=#{id}
	</update>
	
	<update id="updatePlate">
		update t_decorate_temp 
		<set>
			<if test="baseId!=null">
				base_id=#{baseId,jdbcType=INTEGER},
			</if>
			<if test="plateId!=null">
				plate_id=#{plateId,jdbcType=INTEGER},
			</if>
			<if test="title!=null">
				title=#{title,jdbcType=VARCHAR},
			</if>
			<if test="titleContentStyle!=null">
				title_content_style=#{titleContentStyle,jdbcType=VARCHAR},
			</if>
			<if test="titleShowStyle!=null">
				title_show_style=#{titleShowStyle,jdbcType=VARCHAR},
			</if>
			<if test="sort!=null">
				sort=#{sort,jdbcType=VARCHAR},
			</if>
			<if test="isDel!=null">
				isdel=#{isDel,jdbcType=VARCHAR}
			</if>
			where id=#{id}
		</set>
	</update>
</mapper>