<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuanche.mapper.admin.write.EmployeWriteMapper">
<insert id="addEmploye"  parameterType="com.tuanche.bean.admin.Employe">  
		  	 INSERT INTO t_magazine_employee(
				position,
				name,
				employee_pic,
				build_emp,
				build_time,
				update_emp,
				update_time,
				employee_status
				)
             VALUES
            (
             #{position},
             #{name},
             #{employePic},
             #{buildEmp},
             now(),
             #{updateEmp}, 
             now(),
             #{employeStatus}
            )
		</insert>
		<update id="updateEmploye" > 
		  UPDATE t_magazine_employee SET    position=#{position} ,name=#{name}, employee_pic=#{employePic}, update_emp=#{updateEmp},update_time=now() 		  
		  WHERE id =#{id}

		</update> 
		<update id="updateEmpStatus" > 
		  UPDATE t_magazine_employee SET    employee_status=#{employeStatus}, update_emp=#{updateEmp},update_time=now() 		  
		  WHERE id =#{id}

		</update>
</mapper>